<!--Cabecera-->
<header >

    <div class="navbar navbar-default" id="header">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TFG</a>
        </div>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['']">{{ 'main.title' | translate }}</a>
                </li>
                <li *ngIf="identity">
                    <a  [routerLink]="['newFood']">{{ 'main.newFood' | translate }}</a>
                </li>
                <li *ngIf="identity">
                    <a  [routerLink]="['newEvent']">{{ 'main.newEvent' | translate }}</a>
                </li>
                <li *ngIf="identity">
                    <a  [routerLink]="['newStaff']">{{ 'main.newStaff' | translate }}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="identity">
                <li>
                    <a [routerLink]="['viewUser']">{{identity.user}}</a>
                </li>
                <li>
                    <a [routerLink]="['logout', 1]">
                        <span class="glyphicon glyphicon-log-out"></span>
                        {{ 'main.logout' | translate }}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
                <li>
                    <a [routerLink]="['login']">{{'main.login' | translate }}</a>
                </li>
                <li>
                    <a [routerLink]="['register']">{{'main.registerTitle' | translate }}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a><button (click)="useLanguage('en')">en</button></a>
                </li>
                <li>
                    <a><button (click)="useLanguage('es')">es</button></a>
                </li>
            </ul>

        </div>
    </div>

</header>

<!--Contenido-->
<router-outlet></router-outlet>