<div id="content_login" class="col-lg-12">
  <div id="ventana_login">

    <form id="login_form">
				<span id="titulo_form">
					Acceder
				</span>

      <div class="grupo_input1" data-validate="Introduce tu usuario">
        <input class="input1" type="text" name="usuario" placeholder="Usuario">
        <span class="focus-input1"></span>
      </div>

      <div class="grupo_input1" data-validate="Introduce tu contraseña">
        <input class="input1" type="password" name="password" placeholder="Contraseña">
        <span class="focus-input1"></span>
      </div>

      <div class="grupo_boton_login">
        <button class="login100-form-btn">
          Entrar
        </button>
      </div>

      <div class="link_registro">
        <a href="#">
          Registrarse
        </a>
      </div>
    </form>
  </div>
</div>