<div id="container">
<div class="loading" *ngIf="!staff">Cargando...</div>
<div id="list" class="col-md-8" *ngIf="staff">
  <h2>{{'staff.allStaff' | translate }}</h2>

  <table class="table table-hover table-striped" id="staff-list" *ngIf="staff">
    <thead>
    <tr>
      <th>{{'staff.name' | translate }}</th>
      <th>{{'staff.surnames' | translate }}</th>
      <th>{{'standard.email' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of staff">
      <td>
        <a [routerLink]="['/staffDetail', person.id_staff]" >{{person.name}}</a>
      </td>
      <td>{{person.surnames}}</td>
      <td>{{person.email}}</td>
      <td>
        <a [routerLink]="['/editStaff', person.id_staff]" class="btn btn-warning">{{'standard.edit' | translate }}</a>
        <a (click)="deleteStaff(person.id_staff)" class="btn btn-danger"> {{'standard.delete' | translate }}</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>