<div id="container">
    <div id="details" class="col-md-10" *ngIf="event">
    <h1>{{event.type}} de {{event.name}}</h1>
    <label>{{'event.date' | translate }}</label>
    <p>{{event.date}}</p>
    <label>{{'event.moment' | translate }}</label>
    <p>{{event.moment}}</p>
    <label>{{'event.guests' | translate }}</label>
    <p>{{event.guests}}</p>
    <label>{{'event.children' | translate }}</label>
    <p>{{event.children}}</p>
    <label>{{'event.sweet_table' | translate }}</label>
    <p *ngIf="event.sweet_table == 1">Si</p>
    <p *ngIf="event.sweet_table == 0">No</p>
    <label>{{'event.observations' | translate }}</label>
    <p>{{event.observations}}</p>
    <label>{{'event.phone' | translate }}</label>
    <p>{{event.phone}}</p>
    <label>{{'event.price' | translate }}</label>
    <p>{{event.price}}</p>
    <label>{{'event.foods' | translate }}</label>
    <div *ngIf="event['food'] != null">
    <ul *ngFor="let food of event.food">
        <li>{{food['title']}}</li>
    </ul>
    </div>
    <label>{{'event.waiters' | translate }}</label>
    <div *ngIf="event['staff'] != null">
        <ul *ngFor="let person of event.staff">
            <li>{{person['name']}} {{person['surnames']}}</li>
        </ul>
    </div>
        <div class="col-md-12">
            <a [routerLink]="['/allEvents']"><span class="glyphicon glyphicon-circle-arrow-left">{{'standard.back' | translate }}</span></a>
        </div>
</div>

</div>