<div class="col-md-12" *ngIf="event">
    <h1>{{event.type}} de {{event.name}}</h1>
    <label>Fecha</label>
    <p>{{event.date}}</p>
    <label>Número de invitados</label>
    <p>{{event.guests}}</p>
    <label>Número de niños</label>
    <p>{{event.children}}</p>
    <label>¿Tiene mesa dulce externa?</label>
    <p *ngIf="event.sweet_table == 1">Si</p>
    <p *ngIf="event.sweet_table == 0">No</p>
    <label>Observaciones</label>
    <p>{{event.observations}}</p>
    <label>Teléfono de contacto</label>
    <p>{{event.phone}}</p>
    <label>Precio final</label>
    <p>{{event.price}}</p>
    <label>Comidas</label>
    <div *ngIf="event['food'] != null">
    <ul *ngFor="let food of event.food">
        <li>{{food['title']}}</li>
    </ul>
    </div>
    <label>Personal</label>
    <div *ngIf="event['staff'] != null">
        <ul *ngFor="let person of event.staff">
            <li>{{person['name']}} {{person['surnames']}}</li>
        </ul>
    </div>
</div>
<div class="col-md-12">
    <a [routerLink]="['/allEvents']"><span class="glyphicon glyphicon-circle-arrow-left">Back</span></a>
</div>
