<div id="container">
<div class="loading" *ngIf="!events">Cargando...</div>
<div id="list" class="col-md-10" *ngIf="events">
    <h2>{{ 'event.allEvents' | translate }}</h2>

    <table class="table table-hover table-striped" id="event-list" *ngIf="events">
        <thead>
        <tr>
            <th>{{ 'event.type' | translate }}</th>
            <th>{{ 'event.name' | translate }}</th>
            <th>{{ 'event.moment' | translate }}</th>
            <th>{{ 'event.date' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of events">
            <td>{{event.type}}</td>
            <td>{{event.name}}</td>
            <td>{{event.moment}}</td>
            <td>{{event.date}}</td>
            <td>
                <a [routerLink]="['/eventDetail', event.id_event]" class="btn btn-success">{{'standard.view' | translate }}</a>
                <a [routerLink]="['/editEvent', event.id_event]" class="btn btn-warning">{{'standard.edit' | translate }}</a>
                <a (click)="deleteEvent(event.id_event)" class="btn btn-danger"> {{'standard.delete' | translate }}</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>