<div id="login" class="col-md-12">
    <div class="hijo">
        <h2>{{'main.loginTitle' | translate }}</h2>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            {{'login.notLogin' | translate}}<br>
            {{errors | translate}}
        </div>

        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-md-5">
            <p>
                <label for="user">{{'user.userName' | translate }}</label>
                <input ngModel type="text" #user="ngModel"  name="user" id="user" class="form-control" required />
                <span *ngIf="(!user.valid && user.touched)">
                {{'login.userError' | translate}}
                    {{errors.user | translate}}
            </span>
            </p>
            <p>
                <label for="password">{{'user.password' | translate}}</label>
                <input ngModel type="password" #password="ngModel"  name="password" id="password" class="form-control" required />
                <span *ngIf="(!password.valid && password.touched)">
                {{'login.passError' | translate}} {{errors.password | translate}}
            </span>
            </p>

            <input type="submit" value="{{'main.login'| translate}}" class="btn btn-primary send" [disabled]="!loginForm.form.valid" />
        </form>
    </div>
</div>