<div class="col-md-12"><h2>{{page_title}}</h2>

  <div class="alert alert-danger" *ngIf="status == 'error'">
    La comida no se ha registrado
    {{errors}}
  </div>
  <div class="alert alert-success" *ngIf="status == 'success'">
    La comida se ha guardado
  </div>

<form #newFood="ngForm" (ngSubmit)="onSubmit(newFood)" class="col-md-5">
  <p>
    <label for="title">Titulo</label>
    <input ngModel type="text" id="title" class="form-control" name="title" #title="ngModel" required />
    <span *ngIf="!title.valid && title.touched">
      El titulo no es válido
    </span>
  </p>
  <div class="alert alert-danger" *ngIf="status == 'error' && errors['title']!=null">
    {{errors['title']}}
  </div>

  <p>
    <label for="description">Descripción</label>
    <textarea ngModel type="text" class="form-control" id="description" name="description" #description="ngModel" required ></textarea>
    <span *ngIf="!description.valid && description.touched">
      La description no es válido
    </span>
  </p>
  <div class="alert alert-danger" *ngIf="status == 'error' && errors['description']!=null">
    {{errors['description']}}
  </div>

  <p>
    <label for="image">Imágen</label>
    <input ngModel type="text" class="form-control" id="image" name="image" #image="ngModel" />
    <span *ngIf="!image.valid && image.touched">
      La imágen no es válida
    </span>
  </p>

  <p>
    <label for="price">Precio</label>
    <input ngModel type="number" class="form-control" id="price" name="price" #price="ngModel" placeholder="0,0" />
  </p>

  <input type="submit" value="Guardar" class="btn btn-success" [disabled]="!newFood.form.valid"/>
</form>
</div>