<div id="new">
  <div class="col-md-10 hijo"><h2>{{'food.newFoodTitle' | translate}}</h2>

    <div class="alert alert-danger" *ngIf="status == 'error'">
      {{'food.createdError' | translate }}
      {{errors | translate }}
    </div>
    <div class="alert alert-success" *ngIf="status == 'success'">
      {{'food.created' | translate }}
    </div>

    <form #newFood="ngForm" (ngSubmit)="onSubmitFood(newFood)" class="col-md-5">
      <p>
        <label for="title">{{'food.title' | translate}}</label>
        <input ngModel type="text" id="title" class="form-control" name="title" #title="ngModel" required />
        <span *ngIf="!title.valid && title.touched">
          {{'food.titleError' | translate }}
    </span>
      </p>
      <div class="alert alert-danger" *ngIf="status == 'error' && errors['title']!=null">
        {{errors['title'] | translate }}
      </div>

      <p>
        <label for="description">{{'standard.description' | translate}}</label>
        <textarea ngModel type="text" class="form-control" id="description" name="description" #description="ngModel" required ></textarea>
        <span *ngIf="!description.valid && description.touched">
          {{'food.descriptionError' | translate }}
    </span>
      </p>
      <div class="alert alert-danger" *ngIf="status == 'error' && errors['description']!=null">
        {{errors['description'] | translate }}
      </div>

      <p>
        <label for="price">{{'food.price' | translate}}</label>
        <input ngModel type="number" class="form-control" id="price" name="price" #price="ngModel" placeholder="0,0" required/>
      </p>

      <input type="submit" value="{{'standard.send' | translate}}" class="btn btn-success" [disabled]="!newFood.form.valid"/>
      <a [routerLink]="['/allFoods']" ><input type="button" value="{{'standard.cancel' | translate}}" class="btn btn-danger" /> </a>

    </form>
  </div>

  <div class="col-md-10 hijo" *ngIf="food !== undefined">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">{{'allergens.allergens' | translate}} <span class="glyphicon glyphicon-triangle-bottom"></span></a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <form [formGroup]="allergensForm" (ngSubmit)="onSubmitAllergens(allergensForm)" class="col-md-12" *ngIf="allergens !== undefined">
              <label class="checkbox-inline col-md-5" formArrayName="allergens" *ngFor="let allergen of allergensForm.controls.allergens.controls; let i = index">
                <input type="checkbox" [formControlName]="i">
                {{allergens[i].name_allergen}}
              </label>

              <br>
              <div class="col-md-5">
                <input type="submit" value="{{'standard.send' | translate}}" class="btn btn-success"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>