<div class="col-md-12"><h2>{{page_title}}</h2>

  <div class="alert alert-danger" *ngIf="status == 'error'">
    La comida no se ha registrado
    {{errors}}
  </div>
  <div class="alert alert-success" *ngIf="status == 'success'">
    La comida se ha guardado
  </div>

<form #newFood="ngForm" (ngSubmit)="onSubmitFood(newFood)" class="col-md-5">
  <p>
    <label for="title">Titulo</label>
    <input ngModel type="text" id="title" class="form-control" name="title" #title="ngModel" required />
    <span *ngIf="!title.valid && title.touched">
      El titulo no es válido
    </span>
  </p>
  <div class="alert alert-danger" *ngIf="status == 'error' && errors['title']!=null">
    {{errors['title']}}
  </div>

  <p>
    <label for="description">Descripción</label>
    <textarea ngModel type="text" class="form-control" id="description" name="description" #description="ngModel" required ></textarea>
    <span *ngIf="!description.valid && description.touched">
      La description no es válido
    </span>
  </p>
  <div class="alert alert-danger" *ngIf="status == 'error' && errors['description']!=null">
    {{errors['description']}}
  </div>

  <p>
    <label for="image">Imágen</label>
    <input ngModel type="text" class="form-control" id="image" name="image" #image="ngModel" />
    <span *ngIf="!image.valid && image.touched">
      La imágen no es válida
    </span>
  </p>

  <p>
    <label for="price">Precio</label>
    <input ngModel type="number" class="form-control" id="price" name="price" #price="ngModel" placeholder="0,0" />
  </p>

  <input type="submit" value="Guardar" class="btn btn-success" [disabled]="!newFood.form.valid"/>
</form>
</div>

<!--*ngIf="food !== undefined" Si que funciona-->
<div class="col-md-12" *ngIf="food !== undefined">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Allergens <span class="glyphicon glyphicon-triangle-bottom"></span></a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <form [formGroup]="allergensForm" (ngSubmit)="onSubmitAllergens(allergensForm)" class="col-md-12" *ngIf="allergens !== undefined">
          <label class="checkbox-inline col-md-5" formArrayName="allergens" *ngFor="let allergen of allergensForm.controls.allergens.controls; let i = index">
            <input type="checkbox" [formControlName]="i">
            {{allergens[i].name_allergen}}
          </label>

          <br>
          <div class="col-md-5">
            <input type="submit" value="Guardar" class="btn btn-success"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>