<div class="loading" *ngIf="!foods">Cargando...</div>
<div class="col-md-12" *ngIf="foods">
  <h2>{{title}}</h2>

  <table class="table table-hover table-striped" id="food-list" *ngIf="foods">
    <thead>
    <tr>
      <th>Food</th>
      <th>Image</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let food of foods">
      <td>
        <a [routerLink]="['/foodDetail', food.id_food]">{{food.title}}</a>
      </td>
      <td>{{food.image}}</td>
      <td>{{food.price}}</td>
      <td>
        <a [routerLink]="['/editFood', food.id_food]" class="btn btn-warning">Edit</a>
        <a (click)="deleteFood(food.id_food)" class="btn btn-danger"> Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
