<div id="container">
  <div class="loading" *ngIf="!foods">Cargando...</div>
  <div id="list" class="col-md-8" *ngIf="foods">
    <h2>{{'food.allFoods' | translate }}</h2>

    <table class="table table-hover table-striped" id="food-list" *ngIf="foods">
      <thead>
      <tr>
        <th>{{'food.title' | translate}}</th>
        <th>{{'food.price' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let food of foods">
        <td>
          <a [routerLink]="['/foodDetail', food.id_food]">{{food.title}}</a>
        </td>
        <td>{{food.price}}</td>
        <td>
          <a [routerLink]="['/editFood', food.id_food]" class="btn btn-warning">{{'standard.edit' | translate}}</a>
          <a (click)="deleteFood(food.id_food)" class="btn btn-danger"> {{'standard.delete' | translate}}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>